.advantages-title {
  width: 100%;
  @include font(42px, 700, 1.17);
}
.advantages__description {
  max-width: 390px;
  @include font(18px, 400, 1.67);
  margin-bottom: 44px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.advantages__list-item {
  box-sizing: border-box;
  flex-basis: calc((100% - 30px * 2) / 2);
  margin-left: 30px;
  margin-top: 30px;
  padding: 20px 35px;

  background-color: #f7f7f7;

  &:nth-child(odd) {
    transform: translateY(-9px);
  }
  &:nth-child(even) {
    transform: translateY(20px);
  }
}
.advantages__list-quantity {
  position: relative;

  @include font(42px, 700);
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--secondary-text-color-theme-light);

  & span {
    position: absolute;

    @include font(16px, 700, 1.38);
    text-align: start;

    color: var(--accent-color);
  }
}

.advantages__list-description {
  @include font($fw: 600);
  text-align: center;
  color: var(--secondary-text-color-theme-light);
}

//tablet 768+
@media screen and (min-width: 768px) {
  .advantages__description {
    width: 450px;
  }
  .advantages__list-item {
    padding: 20px 44px;
  }
}

//desctop 1200+
@media screen and (min-width: 1200px) {
  .advantages__container {
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages__left-side {
    padding-left: 100px;
    margin-right: 130px;
  }

  .advantages__list-item {
    padding: 20px 25px;
  }
}
