.footer__container {
  @include flex-center-vert;
  justify-content: space-between;

  padding-top: 54px;
  padding-bottom: 54px;

  background-color: #f7f7f7;
}

.copyright {
  @include font($fw: 600);
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}

@media screen and (min-width: 768px) {
  .footer__container {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
