.hero__title {
  font-family: var(--secondary-font);
  @include font($fs: 48px, $fw: 700, $lh: 1.17);
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--secondary-text-color-theme-dark);
}

.hero__description {
  max-width: 315px;
}

@media screen and (max-width: 767px) {
  .hero {
    background-color: var(--secondary-text-color-theme-light);
    background-image: linear-gradient(#26191b33, #191c2633), url(../imeges/hero/mobile-hero@1x.jpg);
    background-size: cover;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(#26191b33, #191c2633),
        url(../imeges/hero/mobile-hero@2x.jpg);
    }
  }
  .hero__container {
    padding-top: 208px;
    padding-bottom: 183px;
    padding-left: 31px;
    padding-right: 31px;
  }

  .hero__left-side {
    display: none;
  }
}

//tablet
@media screen and (min-width: 768px) {
  .hero__container {
    display: flex;
  }
  .hero__left-side {
    display: flex;
    align-items: flex-end;
    width: 120px;
    padding-left: 34px;
    padding-bottom: 40px;
  }
  .hero__media-list {
    transform-origin: left top; /*стосовно чого здійснюємо обертання*/
    transform: rotate(-90deg) translateX(-18px); /*відмінусоват висоту елементу в неперевернутому стані*/
  }

  .hero__right-side {
    flex-grow: 1; /*щоб зайняло більше місця*/

    padding-top: 272px; /*з урахуванням хедеру, що вийнятий з потоку*/
    padding-bottom: 245px;
    padding-left: 120px;
    background-color: var(--secondary-text-color-theme-light);
    background-image: linear-gradient(#26191b33, #191c2633), url(../imeges/hero/tablet-hero@1x.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    background-position: right bottom;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero__right-side {
      background-image: linear-gradient(#26191b33, #191c2633),
        url(../imeges/hero/tablet-hero@2x.jpg);
    }
  }
  .hero__description {
    width: 400px;
  }
}

//desctop
@media screen and (min-width: 1200px) {
  .hero__right-side {
    padding-bottom: 206px;
    padding-left: 100px;
    background-image: linear-gradient(#26191b33, #191c2633), url(../imeges/hero/desctop-hero@1x.jpg);
  }
  .hero__title {
    @include font($fs: 72px, $fw: 700, $lh: 1.18);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero__right-side {
      background-image: linear-gradient(#26191b33, #191c2633),
        url(../imeges/hero/desctop-hero@2x.jpg);
    }
  }
}
