.services {
  background-image: url(../imeges/services/mobile-services@1x.png);
  background-color: #111319;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services {
    background-image: url(../imeges/services/mobile-services@2x.png);
  }
}
.services__title {
  width: 100%;
  @include font(42px, 700, 1.17);
}
.services__list-container {
  margin-bottom: 50px;
  padding: 30px;
}
.services__list:not(:last-child) {
  padding-bottom: 20px;
}
.services__list-item {
  display: flex;
  justify-content: space-between;

  @include font($fs: 14px, $fw: 400, $lh: 2.14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);

  &:not(:last-child) {
    padding-bottom: 20px;
  }
}
.services__list-name {
  @include flex-center-vert($ai: baseline);

  flex-grow: 1;

  &::after {
    flex-grow: 1;
    @include pseudo;

    height: 1px;
    background-color: rgba(157, 164, 189, 12%);
    margin-left: 6px;
    margin-right: 6px;
  }
}
.services__btn {
  display: block;
  margin: 0 auto;
}

//tablet 768+
@media screen and (min-width: 768px) {
  .services {
    background-image: url(../imeges/services/tablet-services@1x.png);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .services {
      background-image: url(../imeges/services/tablet-services@2x.png);
    }
  }
}
//
@media screen and (max-width: 1199px) {
  .services__list-container {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

//desctop 1200+
@media screen and (min-width: 1200px) {
  .services {
    background-image: url(../imeges/services/desctop-services@1x.png);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .services {
      background-image: url(../imeges/services/desctop-services@2x.png);
    }
  }

  .services__list-container {
    display: flex;
    flex-wrap: wrap;
  }
  .services__list {
    flex-basis: 50%;
    padding: 30px 40px;

    &:nth-child(2n + 1) {
      background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
    &:nth-child(2n) {
      background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    }
  }

  .services__list-item {
    @include font($fs: 18px, $fw: 400, $lh: 1.67);

    &:nth-child(1) {
      padding-top: 0;
    }
  }

}
