.section-description {
  @include font($fs: 16px, $lh: 1.63);
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 20px;
}

//tablet 768+
@media screen and (min-width: 768px) {
  .section-description {
    width: 310px;
  }
}

//desctop 1200+
@media screen and (min-width: 1200px) {
  .section-description {
    @include font($fs: 18px, $lh: 1.67);
    width: 395px;
  }

  .section-description_light {
    color: var(--primary-text-color-theme-light);
  }
}
