.section-description {
  @include font($fs: 16px, $lh: 1.63);
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 20px;
  max-width: 340px;
}
//tablet
@media screen and (min-width: 768px) {
  .section-description {
    width: 310px;
  }
}

//desctop
@media screen and (min-width: 1200px) {
  .section-description {
    @include font($fs: 18px, $lh: 1.67);
    width: 395px;
  }

  // .section-description:not(:last-child) {
  //   margin-bottom: 20px;
  // }
  .section-description_light {
    color: var(--primary-text-color-theme-light);
  }
}
